/* styles.css */

:root {
  --border-color: rgba(0, 0, 0, 0.1);
}

.pokemon-card {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px 50px;
  gap: 20px;
}
.pokemon-card h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}
.pokemon-name {
  text-transform: capitalize;
}

.flex-td-type {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.pokedex-table {
  border-collapse: collapse;
}
.pokedex-table tr {
  border-top: rgba(201, 201, 201, 0.349) 1px solid;
  border-bottom: rgba(201, 201, 201, 0.349) 1px solid;
}
.pokedex-table th {
  color: #737373;
  font-size: 0.875rem;
  font-weight: normal;
  text-align: right;
}
.pokedex-table th,
.pokedex-table td {
  padding: 4px 10px;
}
.pokedex-table td {
  width: 100%;
}
.pokedex-table ol {
  margin: 0;
  padding-inline-start: 16px;
}

.moves {
  width: 100%;
}

@media (min-width: 620px) {
  .pokedex-table th {
    width: 1px;
    white-space: nowrap;
  }

}

@media (max-width: 620px) {
  #pokecard-flex-item {
    width: 100%;
  }
  .pokemon-card {
    padding: 5px;
  }
}

.pokemon-detail-img {
  align-self: center;
}
.pokemon-image {
  width: 20%;
  width: 200px;
  height: 200px;
  object-fit: scale-down;
  align-self: center;
}

.pokemon-types {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.stats,
.stat-table {
  width: 100%;
}
#stat-number {
  width: 3%;
  text-align: right;
}
.stat {
  margin-bottom: 7px;
}

.stat-bar {
  height: 15px;
  color: #fff;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgb(0, 0, 0);
  border: 1px solid #737373;
  border-color: rgba(0, 0, 0, 0.15);
}
