.type-chart {
  display: flex;
  flex-wrap: wrap;
}
table {
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  vertical-align: middle;
  border: rgba(201, 201, 201, 0.349) 1px solid;
  color: gold;
}
td {
  padding: 10px;
}
