.type-chart-table {
  border-collapse: collapse;
  text-align: center;
  padding: 0;
  margin: 10px auto;
}
.type-th-cell,
.type-td-cell {
  color: gold;
  border: rgba(201, 201, 201, 0.349) 1px solid;
}
.type-td-cell {
  padding: 0px;
  width: 28px;
  height: 28px;
  font-size: 0.75rem;
}

@media (min-width: 900px) {

  .type-td-cell {
    width: 36px;
    height: 36px;
    font-size: 1rem;
  }
}
