h1 {
  color: #007bff;
}

.img-icon img {
  object-fit: contain;
  padding: 10px;
  max-width: 200px;
  height: auto;
}

.MuiAutocomplete-option {
  text-transform: capitalize;
}

.search-container {
  margin: 20px auto 20px auto;
  padding: 0 20px;
  align-items: center;
  background-color: red;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.select-type {
  text-transform: capitalize;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.search-input {
  width: 200px;
}
