.vertical-card {
  display: flex;
  width: 250px;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pokemon-image {
  max-width: 100px;
  max-height: 100px;
  object-fit: scale-down;
  margin-right: 20px;
}

.pokemon-details {
  flex-grow: 1;
}

.pokemon-name {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}
