.vertical-card {
  display: flex;
  gap: 5px;
  width: 250px;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: aliceblue;
  border-radius: 5px;
}
.pokemon-details-vertical{
  align-self: center;
  padding: 5px;
}
.pokemon-image-vertical {
  flex-grow: 0.75;
  object-fit: scale-down;
  object-position: bottom;
}
h3.pokemon-name-vertical {
  margin: auto auto 5px auto;
  text-align: center;
}
.pokemon-name-vertical {
  text-transform: capitalize;
}

.pokemon-types-vertical{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 5px;
}
